.checkout-progress-bar_progress *, .checkout-progress-bar_progress *:after, .checkout-progress-bar_progress *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Form Progress */
.checkout-progress-bar_progress {
  margin: 20px auto;
  text-align: center;
}
.checkout-progress-bar_progress .checkout-progress-bar_circle,
.checkout-progress-bar_progress .checkout-progress-bar_bar {
  display: inline-block;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.checkout-progress-bar_progress .checkout-progress-bar_bar_other {
  position: relative;
  width: 80px;
  height: 6px;
  margin: 0 -5px 17px -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.checkout-progress-bar_progress .checkout-progress-bar_bar_chrome {
  position: relative;
  width: 80px;
  height: 6px;
  margin: 0 -5px 32px -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.checkout-progress-bar_progress .checkout-progress-bar_circle .checkout-progress-bar_label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.checkout-progress-bar_progress .checkout-progress-bar_circle .checkout-progress-bar_label a{
  color: #b5b5ba;
}
.checkout-progress-bar_progress .checkout-progress-bar_circle .checkout-progress-bar_title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}
.checkout-progress-bar_progress .checkout-progress-bar_circle .checkout-progress-bar_title a{
  color: #b5b5ba;
}

/* Done / Active */
.checkout-progress-bar_progress .checkout-progress-bar_bar.checkout-progress-bar_done,
.checkout-progress-bar_progress .checkout-progress-bar_circle.checkout-progress-bar_done {
  background: #eee;
}
.checkout-progress-bar_progress .checkout-progress-bar_bar.checkout-progress-bar_active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.checkout-progress-bar_progress .checkout-progress-bar_circle.checkout-progress-bar_done .checkout-progress-bar_label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.checkout-progress-bar_progress .checkout-progress-bar_circle.checkout-progress-bar_done .checkout-progress-bar_label a {
  color: #FFF;
}
.checkout-progress-bar_progress .checkout-progress-bar_circle.checkout-progress-bar_done .checkout-progress-bar_title {
  color: #8bc435;
}
.checkout-progress-bar_progress .checkout-progress-bar_circle.checkout-progress-bar_done .checkout-progress-bar_title a {
  color: #8bc435;
}
.checkout-progress-bar_progress .checkout-progress-bar_circle.checkout-progress-bar_active .checkout-progress-bar_label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.checkout-progress-bar_progress .checkout-progress-bar_circle.checkout-progress-bar_active .checkout-progress-bar_label a{
  color: #FFF;
}
.checkout-progress-bar_progress .checkout-progress-bar_circle.checkout-progress-bar_active .checkout-progress-bar_title {
  color: #0c95be;
}
.checkout-progress-bar_progress .checkout-progress-bar_circle.checkout-progress-bar_active .checkout-progress-bar_title a{
  color: #0c95be;
}
